html, body {
  font-family: 'Inter', sans-serif;
}


body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 8px 16px;
    margin: 0;
}

/* HOME ICON */
.home {
    height: 25px;
    transition: transform 0.2s ease;   
}


.icon-btn {
    background-color: #1F1F1F;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease; 
}


.icon-btn:hover {
    background-color: #282828;      
}


.icon-btn:hover .home {
    transform: scale(1.10);           
}


.middle {
    margin-left: auto; 
    flex-shrink: 0; 
}

.front, .middle, .back {
    display: flex;
    align-items: center;
    gap: 10px;
   
}

.icon-btn{
    background-color: #1F1F1F;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #1F1F1F;
    height: 48px;
    border-radius: 100px;
    padding: 0 16px;
    width: 450px;     
    max-width: 600px;   
}

.search-icon{
    height: 25px;
}

.right_icon {
    height: 25px;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.right_icon:hover {
    transform: scale(1.12);
    filter: brightness(0) invert(1);   
}


.search-bar input{
    border: none;
    background: transparent;
    color: #ffffff;
    flex: 1;  
    font-size: 16px;
    outline: none;
}

.back{
    gap: 16px;
}

.search-bar input::placeholder {
    color: #B3B3B3;
}

.search-bar{
    transition: background-color 0.2s ease;
    border: 0.5px solid transparent;
}

.search-bar:hover{
    background-color: rgba(128, 128, 128, 0.373);
    transform: scale(1); 
    border-color: rgb(111, 109, 109);
}

.normal_buttons{
    border: none;
    background: transparent;
    color: #B3B3B3;
    margin: 0;
    padding: 0;
    font-size: 16px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.down_arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.down_arrow_img{
    height: 16px;
}

.right_side_buttons{
    font-size: 14px;
}

.divider {
  width: 0.5px;
  height: 24px;
  background-color: white; 
  display: inline-block;
  margin: 0 16px; 
}

.log_in_button{
    background-color: white;
    color: black;
    height: 45px;
    width: 100px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.2s ease;
}

.normal_buttons:hover{
    color: white;
    transform: scale(1.07);
}

.log_in_button:hover{
    background-color: rgba(255, 255, 255, 0.888);
    transform: scale(1.05); 
}

.left{
    padding: 0 10px;
    margin: 0;
    width: 24vw;
    background-color: #111111;
}

.left_side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    margin-bottom: 30px;
}

.plus_sign{
    height: 20px;
    width: 20px;

}

.big{
    font-weight: bold;
    color: #ffffff;
}

.small{
    font-size: 14px;
    color: #ffffff;
}

.left_side_two{
    border-radius: 10px;
    padding: 15px 20px;
    border: none;
    background-color: #1F1F1F;
    margin-bottom: 20px;
}

.left_side_three{
    border-radius: 10px;
    padding: 15px 20px;
    background-color: #1F1F1F;
    margin-bottom: 180px;
}

.left_side_four{
    margin-bottom: 25px;
}

.button_one_margin{
    margin: 10px;
}

.left_side_five{
    border: 1px solid pink;
    background-color: #1F1F1F;
}

.button_two_margin{
    margin: 10px;
}

.left_side_button_one{
    font-weight: bolder;
    background-color: white;
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 60px;
    font-size: 15px;
    transition: background-color 0.2s ease;
}

.sec{
    width: 155px;
}

.left_side_button_one:hover{
    background-color: rgba(255, 255, 255, 0.888);
    transform: scale(1.05); 
}

.left_side_button_two{
    border: none;
    background: transparent;
    color: #B3B3B3;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.third_line{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.third_line_img{
    height: 14px;
    border-radius: 50px;
    padding: 0;
    margin: 0;
}

.left_side_button_three{
    background-color: rgb(62, 138, 62);
    color: #B3B3B3;
    border: none;
    border-radius: 50px;
    height: 20px;
    width: 139px;
}

.left_side_button_three:hover{
    background-color: transparent;
}

.left_side_button_four{
    border: none;
    background-color: transparent;
    color:white;
}

.earth_img{
    height: 20px;
    width: 20px;
}

.left_side_button_five{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid #B3B3B3;
    background-color: #111111;
    color: white;
    border-radius: 50px;
    width: 95px;
    height: 35px;
}

.earth{
    margin-bottom: 20px;
}