body{
    background-color: black;
    color: white;
}

header{
    display: flex;
    gap:10px;
}

.middle button{
    background-color: #1F1F1F;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back .divider {
  width: 1px;
  height: 24px;
  background-color: #666; 
  display: inline-block;
  margin: 0 16px; 
}
